
img{
		height: 150px;
		width: auto;
	}
table{
	margin-left: 5%;
	width: 60%;
}
td{

	padding-bottom: 5px;
	padding-left: 10px;
}
th{
	color: #902830;
	font-size: 18px;
	text-align: center;
}
#already_friend,.invite_btn{
		border-radius: 5px; 
		opacity: 0.8; 
		font-size: 18px;
		font-weight: bolder;
  		color: #893893;
  		}