/*css body for the sign up page of the surfzone */
body{
		background-image: url("images/signup_back.jpg");
		
}

fieldset{
		width: 60%;
		border-top: 10px solid #5798aa;
		border-left:10px solid #5798aa;
		border-right: 0px solid #5798aa;
		border-bottom:0px solid #5798aa;
		border-top-left-radius: 10px;
		margin : 0px auto;
		margin-top :3%;
		padding: 20px;
		text-align: left;
		color: #303030;
	}
legend{
		color: #000;
		font-weight: bold;
		background-color: #5798aa;
		border: 4px solid #303030;
		border-radius: 10px;
		text-align:left;
		font-size: 14px;

	}
.required{
	color: red;
	font-size: 25px;
}
	
td{
	padding : 3px;
	height : 10px;
	width : 200px;
	font-weight: 800;
	padding-top: 20px;
}
.signup_button{
	background-image: url("images/background4.jpg");
	font-size: 14px;
	font-weight: bold;
	padding: 13px;
	border-radius: 5px;
	}
input[type="text"],input[type="password"]:focus{
	 width: 400px;
    height: 50px;
	margin: 0 auto;
	font-size: 20px;
  	transition :1s;
}
td.field{
	width :400px;
}
input[type="text"],input[type="password"],select{
		
		border-width: 1px;
		border-radius: 5px;
		padding: 5px;
		background-image: url("images/background4.jpg");
		opacity: 0.6;
		margin-bottom: 3px;
		display: inline-block;
	}